<section id="mainContent">
	<div id="contact">
		<%= link_to "Contact", :controller => 'contact_us', :action => 'new'%>
	</div>
	<div id="contentBox">
		<h1>Web Applications</h1>	
			<div id="contentDescription">
				Providing simple, clean, and efficient web applications, you and your business can update, maintain, and manage a custom-content data management solution. Ideal for websites, internal business applications and much more, each web application will give you exactly what you need. Scaled from small businesses to large companies, you'll get just the right application.
			</div>
			<%= image_tag ("/assets/pliteweb.gif")%>
	</div>
	<div id="contentBox">
		<h1>Print Solutions</h1>
			<div id="contentDescription">
				Covering a wide variety of print needs, you can customize your look with quality print solutions. Whether you need brochures and handouts for potential customers, a magazine or newsletter spread for your organization, or a new logo for your growing business, any print solution can drive your business forward.
			</div>	
			<%= image_tag ("/assets/pliteprint.gif")%>
	</div>
	<div id="contentBox">
		<h1>Brand Identities</h1>	
		<div id="contentDescription">
			A comprehensive internal mission statement and external marketing strategy requires a complete solution. By harnessing and channeling your brand identity, your business can push forward with a clear, concise, and valuable message that hits the right audience. Customizing your brand identity will align your goals, objectives, and mission statement for your employees, customers, and more.
		</div>	
		<%= image_tag ("/assets/plitebrand.gif")%>
	</div>
</section><!--end mainContent--><br clear="both"/>